.board {
  width: 400px;
  height: 400px;
  background: #bbada0;
  margin: 20px auto;
  position: relative;
  border: 10px solid #bbada0;
}

.tile {
  width: 80px;
  height: 80px;
  margin: 10px;
  line-height: 80px;
  position: absolute;
  border-radius: 3px;
  font-size: 55px;
  color: #766;
}

.slide {
  transition-property: left top;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.tile-empty {
  background-color: rgba(238,228,218,0.35);
}

.tile-0 {
  display: none;
}

.tile-2 {
  background-color: #eee;
}

.tile-4 {
  background-color: #eec;
}

.tile-8 {
  color: #ffe;
  background-color: #fb8;
}

.tile-16 {
  color: #ffe;
  background-color: #f96;
}

.tile-32 {
  color: #ffe;
  background-color: #f75;
}

.tile-64 {
  color: #ffe;
  background-color: #f53;
}

.tile-128 {
  color: #ffe;
  background-color: #ec7;
  font-size: 45px;
}

.tile-256 {
  color: #ffe;
  background-color: #ec6;
  font-size: 45px;
}

.tile-512 {
  color: #ffe;
  background-color: #ec5;
  font-size: 45px;
}

.tile-1024 {
  color: #fff;
  background-color: #ec3;
  font-size: 35px;
}

.tile-2048 {
  color: #fff;
  background-color: #ec2;
  font-size: 35px;
}
