.board {
  width: 400px;
  height: 400px;
  background: #bbada0;
  margin: 20px auto;
  position: relative;
  border: 10px solid #bbada0;
}

.tile {
  width: 80px;
  height: 80px;
  margin: 10px;
  line-height: 80px;
  position: absolute;
  border-radius: 3px;
  font-size: 55px;
  color: #766;
}

.slide {
  transition-property: left top;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.tile-empty {
  background-color: rgba(238,228,218,0.35);
}

.tile-0 {
  display: none;
}

.tile-2 {
  background-color: #eee;
}
